.cart-container{
    padding: 20px;
    max-width: 500px;
    margin: auto;
}

.cart-item{
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
}

.clear-btn{
    background: red;
    color: white;
    padding: 10px 15px;
    border: none; margin-top: 20px;
    border-radius: 8px;
    cursor: pointer;
}
